@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --fontColor: #474942;
    --backgroundColor: #FAF6F0;
    --topColor: #FEC95F;
    --mainColor: #FFEDC6;

    --green: #7ED957;
    --yellow: #FEC95F;
    --red: #FF5757;
}
html, body{
    height: 100%;
}
body{
    background-color: var(--backgroundColor);
    margin: 0;
}
.content{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 100%;
}
.content .leftBar{
    background-color: var(--mainColor);
    grid-column: 1/2;
}
.top{
    background-color: var(--topColor);
}
.top h1{
    padding: 2.1875rem;
    margin: 0;
}
.mainPart{
    grid-column: 2/3;
    background-color: var(--backgroundColor);
}
.tasksPart{
    display: flex;
    flex-direction: column;
}
.projectsPart{
    display: flex;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: row;
}



.mainPart{
    padding: 2.5rem;
}
.taskBlock{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--mainColor);

    transition: transform 230ms, box-shadow 230ms;
}
.taskBlock:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.386);
}
.taskBlock .end{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-right: .9375rem;
    margin-left: auto;
}

.taskBlock .Trash{
    width: 2.8125rem;
    transition: transform 130ms;
    filter: invert(59%) sepia(50%) saturate(3844%) hue-rotate(325deg) brightness(100%) contrast(102%);
}

.taskBlock .Trash:hover{
    transform: scale(1.5);
}
.taskBlock .Trash:active{
    filter: invert(0%) sepia(95%) saturate(19%) hue-rotate(282deg) brightness(105%) contrast(104%);
}
.taskBlock .date{
    color: #47494279;
    font-family: "Nunito Sans", sans-serif;
}
.taskBlock .priority{
    background-color: var(--green);
    width: 4%;
    margin-right: .9375rem;
    height: 100%;
}
.taskBlock label #checkbox{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1.5625rem;
    accent-color: var(--topColor);
}
.taskBlock .text{
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
}