@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --fontColor: #474942;
    --backgroundColor: #FAF6F0;
    --topColor: #FEC95F;
    --mainColor: #FFEDC6;

    --green: #7ED957;
    --yellow: #FEC95F;
    --red: #FF5757;
}
html, body{
    height: 100%;
}

body{
    background-color: var(--backgroundColor);
    margin: 0;
}
#description_Dialog{
    border: none;
    padding: 0;
    height: 760px;
    width: 600px;
}
#description_Dialog .Content{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    gap: 38px;
}
#description_Dialog .Content h1{
    margin: 0;
    background-color: var(--topColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: var(--fontColor);
    padding: .7375rem 0px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 3.8125rem;
    padding-left: 3.5625rem;
    padding-right: 2.1875rem;
}
#description_Dialog .Content .middleZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.5625rem;
    margin-right: 3.5625rem;
}
#description_Dialog .Content .middleZone textarea{
    resize: none;
    width: 100%;
    font-size: 25px;
    border: none;
    color: var(--fontColor);
    outline: none;
}

#description_Dialog .Content .middleZone textarea:focus{
    border: 1.8px solid var(--fontColor);
}

#description_Dialog .bottom{
    margin-left: 3.5625rem;
    margin-right: 3.5625rem;
}
#description_Dialog .bottom .priorityPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: .65rem;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25rem;
}
#description_Dialog .bottom .priorityPart button{
    padding: 2px 3px;
    font-size: 22px;
    border-radius: 7px;
    font-family: "Nunito Sans", sans-serif;
}
#description_Dialog .bottom .date{
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#description_Dialog .bottom .date label input{
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    padding: 8px 15px;
    background-color: var(--topColor);
}
#description_Dialog .Close{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#description_Dialog .Close button{
    font-size: 30px;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    margin-top: 5px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: var(--topColor);
}
#description_Dialog .Close button:hover{
    background-color: #e69a03;
}


/* Creation Dialog*/


#dialog{
    border: none;
    padding: 0;
    height: 47.5rem;
    width: 37.5rem;
}
#dialog .dialogContent{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
}
#dialog .dialogContent .topDialog{
    background-color: var(--topColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#dialog .dialogContent .topDialog img{
    margin-left: auto;
    margin-top: 5px;
    margin-right: 5px;
    height: 35px;
    width: 35px;
    filter: invert(56%) sepia(74%) saturate(2236%) hue-rotate(324deg) brightness(100%) contrast(101%);
}
#dialog .dialogContent .topDialog img:hover{
    filter: invert(47%) sepia(87%) saturate(7009%) hue-rotate(348deg) brightness(90%) contrast(85%);
}
#dialog .dialogContent .topDialog h1{
    margin: 0;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    font-size: 45px;
}

#dialog .dialogContent .mainInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#dialog .dialogContent .titleZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1.5625rem;
    margin-right: 2.1875rem;
}

#dialog .dialogContent .descriptionZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1.5625rem;
    margin-right: 2.1875rem;
}

#dialog .dialogContent .descriptionZone textarea{
    resize: none;
    width: 100%;
    font-size: 25px;
    border: none;
    color: var(--fontColor);
    outline: none;
    
}
#dialog .dialogContent .descriptionZone textarea:focus{
    border: 2px solid var(--fontColor);
}


#dialog .dialogContent .mainInput h1{
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 5px;
    
}
#dialog .dialogContent .mainInput label{
    width: 100%;
}
#dialog .dialogContent .mainInput label #title{
    height: 2.8125rem;
    width: 100%;
    border: none;
    font-size: 25px;
    outline: none;
}
#dialog .dialogContent .mainInput label #title:focus{
    border: 2px solid var(--fontColor);
}
#dialog .dialogContent .bottomDialog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5625rem;
    margin-right: 2.1875rem;
}
.bottomDialog .priority{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .35rem;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25rem;
}
.bottomDialog .priority .buttons, #description_Dialog .bottom .priorityPart .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2125rem;
    
}
.buttons button{
    padding: 2px 3px;
    font-size: 22px;
    border-radius: 7px;
    border: none;
    font-family: "Nunito Sans", sans-serif;
}

.buttons .low{
    background-color: white;
    border: 2px solid var(--green);
    color: var(--green);
}
.buttons .low:disabled{
    background-color: var(--green);
    color: white;
}

.buttons .medium{
    background-color: white;
    border: 2px solid var(--yellow);
    color: var(--yellow);
}
.buttons .medium:disabled{
    background-color: var(--yellow);
    color: white;
}

.buttons .high{
    background-color: white;
    border: 2px solid var(--red);
    color: var(--red);
}
.buttons .high:disabled{
    background-color: var(--red);
    color: white;
}

.bottomDialog .date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3125rem;
}

.bottomDialog .date label input{
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    padding: 8px 15px;
    background-color: var(--topColor);
}
.create{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.create button{
    font-size: 36px;
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background-color: var(--topColor);
}
.create button:hover{
    background-color: #e69a03;
}
.content{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 100%;
}
.content .leftBar{
    background-color: var(--mainColor);
    grid-column: 1/2;
}
.top{
    background-color: var(--topColor);
}
.top h1{
    padding: 35px;
    margin: 0;
}
.mainPart{
    grid-column: 2/3;
    background-color: var(--backgroundColor);
}
.tasksPart{
    display: flex;
    flex-direction: column;
}
.tasksPart button{
    display: flex;
    flex-direction: row;
}
.tasksPart button img{
    width: 40px;
    height: 40px;
}
.projectsPart{
    display: flex;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: row;
}

.mainPart{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}
.AllTasks{
    display: grid;
    grid-template-rows: 80px;
    grid-auto-rows: 80px;
    row-gap: 20px;
}
.mainPart .addBtn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    transition: transform 130ms;
}
.mainPart .addBtn:hover{
    transform: scale(1.1);
}
.mainPart .addBtn:active{
    border-radius: 15px;
    background-color: #fec95f41;
}
.mainPart .addBtn p{
    color: var(--fontColor);
    font-size: 2.8125rem;
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
    margin: 0;
}
.mainPart .addBtn img{
    width: 56px;
    height: 56px;
    filter: invert(81%) sepia(95%) saturate(2528%) hue-rotate(312deg) brightness(103%) contrast(100%);
}
.taskBlock{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--mainColor);

    transition: transform 230ms, box-shadow 230ms;
}
.taskBlock:hover{
    transform: scale(1.01);
    box-shadow: .625rem .625rem 1rem 0rem rgba(0, 0, 0, 0.386);
}
.taskBlock .end{
    display: flex;
    flex-direction: row;
    gap: 2.1875rem;
    margin-right: 15px;
    margin-left: auto;
}

.taskBlock .Trash{
    width: 45px;
    transition: transform 130ms;
    filter: invert(59%) sepia(50%) saturate(3844%) hue-rotate(325deg) brightness(100%) contrast(102%);
}

.taskBlock .Trash:hover{
    transform: scale(1.5);
}
.taskBlock .Trash:active{
    filter: invert(0%) sepia(95%) saturate(19%) hue-rotate(282deg) brightness(105%) contrast(104%);
}
.taskBlock .date{
    color: #47494279;
    font-family: "Nunito Sans", sans-serif;
}
.taskBlock .priority{
    width: 4%;
    margin-right: 15px;
    height: 100%;
}
.taskBlock label #checkbox{
    width: 40px;
    height: 40px;
    margin: 0 25px;
    accent-color: var(--topColor);
}
.taskBlock .text{
    color: var(--fontColor);
    font-family: "Nunito Sans", sans-serif;
}